* {
    margin: 0;
    padding: 0;
}

body {
    /*background-image: url("./Images/new1.jpg");
    background-size:cover;
    background-position: center;
    font-family: sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;*/
    background: #aa4b6b; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.Rating-box {
    background: rgba(0,0,0,0.5);
    margin: 2% auto;
    padding: 30px;
    color: white;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.table {
    color: white;
    text-align: center;
    font-size: larger;
}

.content {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: auto;
    max-width: 150px;
}

.content-display {
    word-break: break-word;
}
